*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #b7cd71;
}
#container {
    display: grid;
    gap: 0px;
    background-color: #b7cd71;
}

.titulo {
    background-color: #31470b;
    grid-column: span 2;
    grid-row: 1;
    height: 50px;
    color: white;
}
.resumo{
    background-color: #d9ef9f;
    grid-column: 1;
    grid-row: 2;
    height: 345px;
}

.texto {
    background-color: #b7cd71;
    grid-column: 1;
    grid-row: 3;
    height: 2600px;
}

.video {
    background-color: #d9ef9f;
    grid-column: 2;
    grid-row: 2;
    height: 345px;
}

.imagem{
    background-color: #d9ef9f;
    grid-column: 1;
    grid-row: 4;
    height: 280px;
}
.links{
    background-color: #d9ef9f;
    grid-column: 2;
    grid-row: 4;
    height: 280px;
}
.mapa-mental {
    background-color: #586e26;
    grid-column: 1;
    grid-row: 5;
}
.imagem2 {
    background-color: #586e26;
    grid-column: 2;
    grid-row: 5;
}
.imagem3 {
    grid-column: 2;
    grid-row: 6;
}

.perguntas {
    background-color: #b7cd7f;
    grid-column: 1;
    grid-row: 6;
}

.rv1 {
    height: 230px;
    width: auto;
}

.rv2 {
    height: 180px;
    width: auto;
}

.dmapa-mental {
    height: 400px;
    width: 770px;
}

.img2 {
    height: 400px;
    width: 560px;
}

.img3 {
    height: 150px;
    width: auto;
}

.img4 {
    height: 150px;
    width: 270px;
}
.img5 {
    height: 350px;
    width: 560px;
    justify-content: center;
}
.pergunta-bloco {
    background-color: #96ac60;
    border-radius: 10px;
    padding: 15px;
    position: relative;
  }

  .resposta {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #d9ef9f;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .resposta {
    display: block;
  }

  label {
    display: block;
    cursor: pointer;
    color: #333;
    font-weight: bold;
  }